<div class="fade-in">
  <c-card>
    <c-card-header>
      Nova Categoria
    </c-card-header>
    <c-card-body>
      <form cForm>
        <c-row>
          <c-col>
            <div class="mb-3">
              <label cLabel for="nome">Nome da categoria</label>
              <input cFormControl
                        id="nome"
                        placeholder="Capinhas de celular"
                        type="text"
                  />
            </div>
          </c-col>
        </c-row>
        <c-row>
          &nbsp;
        </c-row>
        <c-row>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            <button style="color: #FFF" class="btn btn-success"cButton type="submit">
              Salvar
            </button>
          </c-col>
          <c-col>
            <button style="color: #FFF" class="btn btn-danger" cButton type="submit" routerLink="/produtos">
              Cancelar
            </button>
          </c-col>
        </c-row>
      </form>  
    </c-card-body>
  </c-card>
</div>
