<!--<c-header class="mb-4 d-print-none" position="sticky">-->

<ng-container>
  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>
    <c-header-nav class="d-none d-lg-flex me-auto">
      <c-nav-item>
        &nbsp;
      </c-nav-item>
      <c-nav-item>
        &nbsp;
      </c-nav-item>
      <c-nav-item>
        &nbsp;
      </c-nav-item>
    </c-header-nav>

    <c-header-nav class="d-none d-lg-flex">
      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilEnvelopeClosed" size="lg"></svg>
          <span style="padding-left:5px">jaojoao@rrpoint.com.br</span>
        </a>
      </c-nav-item>

      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilSearch" size="lg"></svg>
        </a>
      </c-nav-item>

      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilEnvelopeOpen" size="lg"></svg>
        </a>
      </c-nav-item>

      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilBell" size="lg"></svg>
        </a>
      </c-nav-item>
    </c-header-nav>
    
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
  <!-- <c-header-divider></c-header-divider>
  <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container> -->
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button
      cButton
      color=""
      [caret]="false"
      cDropdownToggle
      class="py-0"
    >
      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        src="./assets/img/avatars/user.png"
        status="success"
      >
      </c-avatar>
      <span style="margin-left: 10px">
        Jão João
      </span>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5" style="width: 200px">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Conta</h6>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilBell"></svg>
          Notificações
          <c-badge class="ms-2 float-end" color="info">
            3
          </c-badge>
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilEnvelopeOpen"></svg>
          Mensagens
          <c-badge class="ms-2 float-end" color="success">
            12
          </c-badge>
        </a>
      </li>
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Settings</h6>
      </li>
      <li></li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilUser"></svg>
          Perfil
        </a>
      </li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilSettings"></svg>
          Configurações
        </a>
      </li>
      <li></li>
      <li>
        <a routerLink="./" cDropdownItem>
          <svg cIcon class="me-2" name="cilToggleOff"></svg>
          Deslogar
        </a>
      </li>
    </ul>
  </c-dropdown>
</ng-template>

