<div class="fade-in">
  <c-card>
    <c-card-header>
      Novo Cliente
    </c-card-header>
    <c-card-body>
      <form cForm>
        <c-row>
          <c-col>
            <div class="mb-3">
              <label cLabel for="nome">Nome do Cliente</label>
              <input class="form-control" cFormControl
                        id="nome"
                        placeholder="João da Silva Sauro"
                        type="text"
                  />
            </div>
          </c-col>
        </c-row>
        <c-row>
          <c-col>
            <div class="mb-3">
              <label cLabel for="cpf-cnpj">CPF ou CNPJ</label>
              <input class="form-control" cFormControl
                        id="cpf-cnpj"
                        placeholder="123.456.789-10 ou 12.123.123/0001-01"
                        type="text"
                  />
            </div>
          </c-col>
          <c-col>
            <div class="mb-3">
              <label cLabel for="telefone">Telefone</label>
              <input class="form-control" cFormControl
                        id="telefone"
                        placeholder="(11) 4444-4444"
                        type="tel"
                        pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                  />
            </div>
          </c-col>
          <c-col class="mb-3 w10">
            <label cLabel for="celular">Celular</label>
            <input class="form-control" cFormControl
                      id="celular"
                      placeholder="(11) 9 4444-4444"
                      type="tel"
                      pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                />
          </c-col>
          <c-col class="mb-3 w10">
            <label cLabel for="nascimento-fundacao">Data de nascimento / Fundação</label>
            <input class="form-control" cFormControl
                      id="nascimento-fundacao"
                      placeholder="12/10/1990"
                      type="date"
                />
          </c-col>
        </c-row>
        <c-row>
            <c-col>
              <label cLabel for="cep">CEP</label>
              <input class="form-control" cFormControl
                        id="cep"
                        placeholder="15715-870"
                        type="text"
                  />
            </c-col>
            <c-col>
              <label cLabel for="logradouro">Logradouro</label>
              <input class="form-control" cFormControl
                        id="logradouro"
                        placeholder="Av. José Pedro"
                        type="text"
                  />
            </c-col>
            <c-col>
              <label cLabel for="bairro">Bairro</label>
              <input class="form-control" cFormControl
                        id="bairro"
                        placeholder="Vila do Jumentos"
                        type="text"
                  />
            </c-col>
            <c-col>
              <label cLabel for="numero">Número</label>
              <input class="form-control" cFormControl
                        id="numero"
                        placeholder="153"
                        type="number"
                  />
            </c-col>
        </c-row>
        <c-row>
          &nbsp;
        </c-row>
        <c-row>
          <c-col>
            <label cLabel for="email">E-mail</label>
            <input class="form-control" cFormControl
                      id="email"
                      placeholder="usuario@rrpoint.com.br"
                      type="email"
                />
          </c-col>
          <c-col>
            <label cLabel for="email2">E-mail secundário</label>
            <input class="form-control" cFormControl
                      id="email2"
                      placeholder="usuario@rrpoint.com.br"
                      type="email"
                />
          </c-col>
        </c-row>
        <c-row>
          &nbsp;
        </c-row>
        <c-row>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            &nbsp;
          </c-col>
          <c-col>
            <button style="color: #FFF" class="btn btn-success"cButton type="submit">
              Salvar
            </button>
          </c-col>
          <c-col>
            <button style="color: #FFF" class="btn btn-danger" cButton type="submit">
              Cancelar
            </button>
          </c-col>
        </c-row>
      </form>  
    </c-card-body>
  </c-card>
</div>
